
body {
    background: #eee;
}

.page_curtains {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	pointer-events: none;
	z-index: 500;
}

.page_curtains div {
    transform: translateY(-100%);
    height: 100%;
    width: 25%;
    background: white;
    border-right: 1px solid #ddd;
}
